$main-font: 'Circe', 'Acrom', verdana, sans-serif;
$white: #fff;
$font-color: $white;
$dark-gray: #282828;
$blue: #240090;
$dark-blue: #190061;
$black-blue: #0c0032;
$black: #000;
$sun-white: #f7eec6;
$light-blue: #2f84b7ff;
$error: #e54304;
$tablet-width: 640px;
$tablet-big-width: 840px;
$mobile-big-width: 460px;
